<div class="d-flex flex-column align-items-center">
    <app-opt-a-container [name]="'List Opt A1'">
        <app-opt-a-action (click)="showConfirmation('1')">1</app-opt-a-action>
        <app-opt-a-action (click)="showConfirmation('2')">2</app-opt-a-action>
        <app-opt-a-action (click)="showConfirmation('3')">3</app-opt-a-action>
        <app-opt-a-action (click)="showConfirmation('4')">4</app-opt-a-action>
    </app-opt-a-container>

    <app-opt-b-container [name]="'List Opt B1'">
        <app-opt-b-action *appOptBActionMarker (click)="showConfirmation('1')">1</app-opt-b-action>
        <app-opt-b-action *appOptBActionMarker (click)="showConfirmation('2')">2</app-opt-b-action>
        <app-opt-b-action *appOptBActionMarker (click)="showConfirmation('3')">3</app-opt-b-action>
        <app-opt-b-action *appOptBActionMarker (click)="showConfirmation('4')">4</app-opt-b-action>
    </app-opt-b-container>
</div>

